div#edit_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#edit_list input[type="submit"] {
    margin-left: 15px;
}

table {
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

table tr td {
    padding: 4px 8px;
}

table tr td:nth-child(2) {
    width: 50px;
}