div#edit_list {
    display: flex;
    justify-content: center;

    display: -webkit-flex;
    -webkit-justify-content: center;
}

div#edit_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}