div.login_form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

div#login_controls {
    margin: 20px auto;
}

div#login_controls input {
    margin-right: 80px;
}