div#invitations {
    display: flex;
    flex-direction: column;
    align-items: center;

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}

div#invitations ul {
    list-style: none;
    width: 100%;
}

div#invitations ul li {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;

    display: -webkit-flex;
    -webkit-justify-content: space-between;
}

div#invitations ul li p {
    margin: 0;
}

span.list_title {
    font-weight: bold;
}

div#invitations div.holder {
    align-items: center;
    display: flex;

    display: -webkit-flex;
    -webkit-align-items: center;
}

div#invitations div.holder > form {
    margin: 0 0 0 10px;
}

div#invitations li:nth-child(odd) {
    background-color: #ddd;
}