body {
    overflow-y: scroll;
}

div#main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}

header {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 500px;
}

div#brand {
    display: flex;
    flex-direction: row;
}

div#welcome {
    font-size: 12px;
    position: absolute;
    right: 0;
}

div#welcome span {
    font-style: italic;
}

div#logo {
    margin: 0 auto;
    margin-top: 20px;
}

div#hamburger_holder {
    background-color: white;
    border: 1px solid #aaa;
    margin-top: 23px;
}

div#hamburger_holder img {
    height: 30px;
}

div#hamburger_holder img:hover {
    cursor: pointer;
}

nav {
    position: absolute;
    top: 10px;
    right: 0;
}

nav ul {
    border: 1px solid black;
    border: 1px solid #aaa;
    display: none;
    list-style: none;
    position: absolute;
    right: 0;
}

nav ul li {
    background-color: white;
    border-bottom: 1px solid #aaa;
    font-size: 14px;
}

nav ul li:last-child {
    border-bottom: 0;
}

nav ul li a {
    display: block;
    padding: 3px 6px;
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li:hover {
    background-color: #ddd;
}

div#inner-container {
    margin: 0 auto;
    padding: 10px 0 10px 0;
}