div#lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#items div#items_container p {
    margin-bottom: 60px;
}

form input[type="submit"] {
    margin-left: 15px;
}

table {
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 0 3px;
    margin-bottom: 40px;
    min-width: 360px;
    width: 100%;
}

table tr.item_name:hover {
    background-color: #ddd;
}

table tr.item_name:active {
    background-color: #fff;
}

table tr:hover {
    cursor: pointer;
}

table tr:nth-child(even) {
    background-color: #fff;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

table tr.tapped {
    background-color: #d66353;
}

table tr.untapped {
    background-color: #9ad677;
}

table tr td {
    padding: 4px 8px;
}

table tr td:nth-child(2) {
    width: 50px;
}