div#members,
div#invite {
    display: flex;
    flex-direction: column;
    align-items: center;

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}

div#invite input[type="submit"] {
    margin-left: 15px;
}

div#members ul {
    list-style: none;
    margin-bottom: 25px;
    width: 100%;
}

div#members ul li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 8px;

    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}

div#members li:nth-child(odd) {
    background-color: #ddd;
}
